@import "../variables/media";

.animation {
  .animation-item {
    opacity: 0;
  }

  &--right {
    .animation-item {
      inset-inline-start: 171rem !important;
      opacity: 0 !important;
      transition: left var(--transition), opacity var(--transition), right var(--transition);

      @media (max-width: $media-md) {
        left: auto !important;
        right: 110rem !important;
      }
    }

  }

  &--right-play {
    .animation-item {
      inset-inline-start: 38rem !important;
      opacity: 1 !important;
      transition: left var(--transition), opacity var(--transition), right var(--transition);

      @media (max-width: $media-md) {
        transform: scaleX(-1) translateY(-50%);
        left: 55% !important;
        // right: 25% !important;
      }
    }

  }

  &--left {
    .animation-item {
      inset-inline-end: 171rem !important;
      opacity: 0 !important;
      transition: left var(--transition), opacity var(--transition), right var(--transition);

    //   @media (max-width: $media-md) {
    //     left: 170rem !important;
    //     right: auto !important;
    //   }
    }

  }

  &--left-play {
    .animation-item {
      inset-inline-end: 40rem !important;
      opacity: 1 !important;
      transition: left var(--transition), opacity var(--transition), right var(--transition);

      @media (max-width: $media-md) {
        transform: scaleX(-1) translateY(-50%);
        // left: 120rem !important;
        right: auto !important;
      }
    }

  }

  &--down {
    .animation-item {
      transform: translateY(271rem);
      opacity: 0 !important;
      transition: transform var(--transition), opacity var(--transition);
    }
  }

  &--down-play {
    .animation-item {
      transform: translateY(0);
      opacity: 1 !important;
      transition: transform var(--transition), opacity var(--transition);
    }
  }

  &--play-right-revers {
    .animation-item {
      left: 170rem !important;
      opacity: 1 !important;
      transition: left var(--transition), opacity var(--transition);
    }
  }
}
