.markdown-styling h1,
.markdown-styling h2,
.markdown-styling h3,
.markdown-styling h4,
.markdown-styling h5,
.markdown-styling h6 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.markdown-styling p {
    margin-bottom: 1em;
}

.markdown-styling hr {
    margin-top: 2em;
    margin-bottom: 2em;
}
