.switch-theme {
  background-color: var(--body-bg);
  background-image: url('images/icons/sun.svg'), url('images/icons/moon.svg');
  background-position-x: 6rem, 43rem;
  background-position-y: center;
  background-size: 20rem 20rem;
  background-repeat: no-repeat;
  width: 70rem;
  height: 30rem;
  padding: 3rem;
  border-radius: 70rem;
  position: relative;
  cursor: pointer;
  &.is-active{
    .switch-theme__toggle {
     right: 42rem;
    }
  }
   &__toggle {
     position: absolute;
     top: 3rem;
     right: 3rem;
     width: 24rem;
     height: 24rem;
     border-radius: 50rem;
     background-color: var(--common-green);
   }
}