{% set home = get_section(path='_index.md') %}
{% set news = get_section(path='news/_index.md') %}

{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}


<div class="container footer__container">
    <div class="footer__rw">
        <a class="footer__logo logo" href="{{ langPathPrefix | safe }}/">
            <span class="footer__logo-wrapper">
                {% include 'ui/logo-green.html' %}
                <span class="footer__logo-text">CoMaps</span>
            </span>
        </a>
        {% include 'components/language_selector_alt.html' %}
    </div>
    <div class="footer__item">
        <div class="footer__nav">
            <nav class="footer__nav-item" id="bottom-menu" role="navigation">
                <a class="p-sm footer__link" href="{{ get_url(path="", lang=lang) }}">
                    <span>{{ trans(key='menu_home', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="community/", lang=lang) }}">
                    <span>{{ trans(key='menu_community', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="donate/", lang=lang) }}">
                    <span>{{ trans(key='menu_donate', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="/news/">
                    <span>{{ trans(key='menu_news', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="/support/">
                    <span>{{ trans(key='menu_help', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="about-us/", lang=lang) }}">
                    <span>{{ trans(key='menu_about_us', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="download/", lang=lang) }}">
                    <span>{{ trans(key='button-download', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="https://codeberg.org/comaps">
                    <span>{{ trans(key='menu_source_code', lang=lang) }}</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="api/", lang=lang) }}">
                    <span>{{ trans(key='menu_api', lang=lang) }}</span>
                </a>
            </nav>
        </div>
    </div>
</div>
