{% set home = get_section(path='_index.md') %}
{% set news = get_section(path='news/_index.md') %}

{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}


<div class="container footer__container">
    <div class="footer__rw">
        <a class="footer__logo logo" href="{{ langPathPrefix | safe }}/">{% include 'ui/logo.html' %}</a>
        {% include 'components/language_selector_alt.html' %}
    </div>
    <div class="footer__item">
        <div class="footer__nav">
            <nav class="footer__nav-item" id="bottom-menu" role="navigation">
                <a class="p-sm footer__link" href="{{ get_url(path="/", lang=lang) }}">
                    <span>Home</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="/community/", lang=lang) }}">
                    <span>Community</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="/donate/", lang=lang) }}">
                    <span>Donate</span>
                </a>
                <a class="p-sm footer__link" href="/support/">
                    <span>Help</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="/news/", lang=lang) }}">
                    <span>News</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="/download/", lang=lang) }}">
                    <span>Download</span>
                </a>
                <a class="p-sm footer__link" href="{{ get_url(path="/api/", lang=lang) }}">
                    <span>API</span>
                </a>
                <!--
                <a class="p-sm footer__link" href="/open-positions/">
                    <span>Open Positions</span>
                </a>
                -->
                <a class="p-sm footer__link" href="{{ get_url(path="/about-us/", lang=lang) }}">
                    <span>About</span>
                </a>
            </nav>
            <div class="switch-theme">
                <div class="switch-theme__toggle"></div>
            </div>
            <div class="footer__lang">
                {% include 'components/language_selector.html' %}
            </div>
        </div>
    </div>
</div>
