{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{%- block content %}
{{ macros::showcase_inner(title=page.title, desp=page.description) }}
<section class="section-social">
    <h2 class="box-social__title">
        {{ trans(key='social_title', lang=lang) }}
    </h2>
    {% include 'section/social-icon.html' %}
</section>
<section class="section-community">
    <div class="container section-community__container">
        {% if page.extra.features %}
        {% for feat in page.extra.features %}
        <a href="{{ feat.link }}"  class="section-community__card--parent">
            <div class="section-community__card">
                <div class="section-community__card--holder">
                    <div class="section-community__card--icon">
                        {{ load_data(path="static/images/community/icons/" ~ feat.icon) | safe }}
                    </div>
                    <h2 class="section-community__card--title">{{ feat.title | markdown | safe }}</h2>
                </div>
                <div class="section-community__card--description">
                    {{ feat.description | markdown | safe }}
                </div>
            </div>
        </a>
        {% endfor %}
    {% endif %}

    </div>
</section>

{{ macros::solo_donate(text=trans(key='donate-description', lang=lang)) }}
{%- endblock content %}

