{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{%- block content %}
{{ macros::showcase_inner(title=page.title) }}

{% set categories = get_taxonomy_term(kind="category", term="Release") %}

<section class="section-device">
    <div class="container section-device__container">
        <div class="section-device__item">
            <div class="section-device__title-row">
                <h3 class="h5 section-device__title">{{ page.extra.mobile_payment_title | safe }}</h3>
                {# <div class="section-device__icon">
                    {% include 'ui/icons/social/upload.html' %}
                </div> #}
            </div>

            <div class="section-device__content">
                <div class="section-device__content-item">
                    <p class="p-15-bold section-device__content-title">{{ page.extra.mobile_payment_methods_1 | safe }}</p>
                    <div class="section-device__card">
                        {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_1 | safe }}</p> #}
                        {# <img class="section-device__img" src="/images/download/app-store.png" alt="img"> #}
                        <a href="https://apps.apple.com/us/app/comaps/id6747180809" class="button--appdownload">
                            {{ load_data(path="static/images/icons/download/app-store.svg") | safe }}
                            App Store
                        </a>
                    </div>
                </div>

                <div class="section-device__content-item">
                    <p class="p-15-bold section-device__content-title">{{ page.extra.mobile_payment_methods_2 | safe }}</p>
                    <div class="section-device__card-holder">
                        <div class="section-device__card">
                            {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_2 | safe }}</p> #}
                            <a href="https://play.google.com/store/apps/details?id=app.comaps.google" class="button--appdownload">
                                {{ load_data(path="static/images/icons/download/google-play.svg") | safe }}
                                Google Play
                            </a>
                        </div>
                        <div class="section-device__card">
                            {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_3 | safe }}</p> #}
                            <a href="https://f-droid.org/packages/app.comaps.fdroid/" class="button--appdownload">
                                {{ load_data(path="static/images/icons/download/f-droid.svg") | safe }}
                                F-Droid
                            </a>
                        </div>
                        <div class="section-device__card">
                            {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_6 | safe }}</p> #}
                            <a href="https://apt.izzysoft.de/fdroid/index/apk/app.comaps" class="button--appdownload">
                                {{ load_data(path="static/images/icons/download/izzyondroid.svg") | safe }}
                                IzzyOnDroid
                            </a>
                        </div>
                        <div class="section-device__card">
                            {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_5 | safe }}</p> #}
                            <a href="https://apps.obtainium.imranr.dev/redirect?r=obtainium://add/https://codeberg.org/comaps/comaps" class="button--appdownload">
                                {{ load_data(path="static/images/icons/download/obtainium.svg") | safe }}
                                Obtainium
                            </a>
                        </div>
                        <div class="section-device__card">
                            {# <p class="p-15 section-device__text">{{ page.extra.mobile_shop_name_4 | safe }}</p> #}
                            <a href="https://codeberg.org/comaps/comaps/releases" class="button--appdownload">
                                {# {{ load_data(path="static/images/icons/download/app-gallery.svg") | safe }} #}
                                APK Download
                            </a>
                        </div>
                    </div>
                </div>
           </div>
            <div class="container section-device__verification">
                <small>
                    <details>
                        <summary><strong>{{page.extra.app_verifier.title}}</strong></summary>
                        <p>{{page.extra.app_verifier.description}}</p>
                        <code class="section-device__apk_verify">app.comaps 48:94:E8:E6:96:36:27:EF:66:00:31:D8:59:3F:E7:72:97:F8:35:AC:B4:E2:38:10:00:3E:92:61:35:02:3B:4C</code>
                    </details>
                </small>
            </div>
        </div>
        <!--
        <div class="section-device__item">
            <div class="section-device__title-row">
                <h3 class="h5 section-device__title">{{ page.extra.desktop_payment_title | safe }}</h3>
                {# <div class="section-device__icon">
                    {% include 'ui/icons/social/upload.html' %}
                </div> #}
            </div>

            <div class="section-device__content">
                <div class="section-device__content-item">
                    <p class="p-15-bold section-device__content-title">{{ page.extra.desktop_payment_methods_1 | safe }}</p>
                    <div class="section-device__card">
                        {# <p class="p-15 section-device__text">{{ page.extra.desktop_shop_name_1 | safe }}</p> #}
                        <a href="#" class="button--appdownload">
                            {{ load_data(path="static/images/icons/download/app-store.svg") | safe }}
                            App Store
                        </a>
                    </div>
                </div>
                <div class="section-device__content-item">
                    <p class="p-15-bold section-device__content-title">{{ page.extra.desktop_payment_methods_2 | safe }}</p>
                    <div class="section-device__card">
                        {# <p class="p-15 section-device__text">{{ page.extra.desktop_shop_name_2 | safe }}</p> #}
                        <a href="#" class="button--appdownload">
                            {{ load_data(path="static/images/icons/download/flathub.svg") | safe }}
                            FLATHUB
                        </a>
                    </div>
                </div>

            </div>
        </div>
        -->
    </div>
    <div class="container ">
        <h2 class="section-device__release_title">{{page.extra.releases.title}}</h2>
        <div class="container main-news__row">
            {% for i in categories.pages | slice(end=4)  %}
                {{ macros::card_post(page=i) }}
            {% endfor %}
        </div>
    </div>
</section>

{% include 'section/donate.html' %}
{%- endblock content %}
