{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{%- block content %}
{{ macros::showcase_inner(title=page.title, desp=page.description, donate=true) }}

<section class="support-benefit">
    <div class="container support-benefit__container">
        {% if page.extra.info %}
            {% for i in page.extra.info %}
                <div class="support-benefit__item">
                    <div class="support-benefit__icon">
                        {{ load_data(path=i.icon) | safe }}
                    </div>
                    <p class="p-15 support-benefit__text">{{ i.text}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>

<section class="services-support">
    <div class="container services-support__container">
        <h2 class="h6 services-support__title">{{ page.extra.funding.title | safe }}</h2>
        <div class="line services-support__line"></div>
        <div class="services-support__row">
            {% for i in page.extra.funding.items %}
                <div class="services-support__item">
                    <div class="services-support__media">
                        <img class="services-support__img" src="{{ i.media }}" alt="{{ i.title }}">
                    </div>
                    <div class="services-support__item-content">
                        <div class="services-support__title-row">
                            <div class="services-support__count">
                                <span class="icon-count services-support__number">0{{ loop.index }}</span>
                                <div class="services-support__icon">
                                    {{ load_data(path="static/images/icons/pin.svg") | safe }}
                                </div>
                            </div>
                            <h2 class="h5 services-support__sub-title">{{ i.title }}</h2>
                        </div>
                        <p class="p-card services-support__text">{{ i.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# <button class="button button&#45;&#45;main"> {{ trans(key='donate-title', lang=lang) }}</button> #}
    </div>
</section>

<section id="donate" class="donate-services">
    <h2 class="reviews__title">{{ page.extra.donate.title }}</h2>
    <div class="line reviews__line"></div>
    <div class="container donate-services__row">
        <h2 class="h7 donate-services__title">{{ page.extra.donate.info.title }}</h2>
        <p class="h1-sub donate-services__text">{{ page.extra.donate.info.description }}</p>
        <div class="donate-services__icons">
            <a href="https://opencollective.com/comaps/donate" target="_blank" class="button button--opencollective">
                <img src="/images/opencollective.svg" alt="icon" width="50">
                {{ page.extra.donate.open_collective.title | safe }}
            </a>
            <a href="https://liberapay.com/CoMaps" target="_blank" class="button button--liberapay">
                <img src="/images/donate/donat-service/icon04.png" alt="icon" width="50">
                {{ page.extra.donate.liberapay.title | safe  }}
            </a>
        </div>
    </div>
</section>

<!--{#
<section class="reviews">
    <h2 class="reviews__title">{{ page.extra.reviews.title | safe }}</h2>
    <div class="line reviews__line"></div>
    <div class="swiper container reviews__carusel">
        <div class="swiper-wrapper">
            {% for i in page.extra.reviews.items %}
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <p class="p reviews__text">{{ i.text }}</p>
                        <h3 class="p-md-bold reviews__s-title">{{ i.name }}</h3>
                        <img class="reviews__icon" src="{{ i.media }}" alt="{{ i.name }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="reviews__pag">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
#}-->

{% include 'section/donate.html' %}

<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
<script>

    const openBtn = document.querySelectorAll('.donate-services__icon--open-tab');
    const tabs03 = document.querySelector('.donate-services__tab');
    const tabs03CloseBtn = document.querySelector('.donate-services__tab-close');

    const tab101 = document.querySelector('.donate-services__tab--1');
    const tab102 = document.querySelector('.donate-services__tab--2');

    openBtn[0].onclick = (event) => {
        tabs03.classList.remove('donate-services__tab--active')
        event.preventDefault()
        tabs03.classList.add('donate-services__tab--active')
        tab101.style.display = 'block'
        tab102.style.display = 'none'
    }

    openBtn[1].onclick = (event) => {
        tabs03.classList.remove('donate-services__tab--active')
        event.preventDefault()
        tabs03.classList.add('donate-services__tab--active')
        tab102.style.display = 'block'
        tab101.style.display = 'none'
    }

    tabs03CloseBtn.onclick = () => {
        tabs03.classList.remove('donate-services__tab--active')
    }


    let swiper = new Swiper(".reviews__carusel", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 2000,
            pauseOnMouseEnter: true,

        },
        breakpoints: {
            768: {
                slidesPerView: 2,
            }
        }
    });
</script>
{%- endblock content %}
