{% component search(list) %}
<script>
    let faqs = [
        {%- for item in list -%}
        {# {% set pages = get_taxonomy_term(kind="support", term=i.name) %} #}
        {%- for faq_page in item.pages -%}
        {
            "title": "{{ faq_page.title | escape_html(json=true) }}",
            "description": "{{ faq_page.description | escape_html(json=true) }}",
            "category": "{% for i in faq_page.taxonomies.supportcategory %}{{ i }}{% endfor %}",
            "content": `{{ faq_page.content | striptags | escape_html(json=true) }}`,
                "content_short": `{{ faq_page.content | striptags | truncate(length=255) | escape_html(json=true) }}`,
            "tags": [
                {%- for i in faq_page.extra.tags -%}
                "{{ i }}"{% if not loop.last %},{% endif %}
                {%- endfor -%}
            ],
            "url": "{{ faq_page.permalink }}"
        }{%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}
        {%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}
    ]
</script>
<script>

    let inpSear = document.getElementById('inpSearch')
    let inSearchHolder = document.querySelector('.faq-page-list')
    let inSearchOut = document.querySelector('.faq-page-list__table')
    let inSearchOutRow = document.querySelector('.faq-page-list__row')
    let supportButtons = document.querySelector('.support-buttons')
    function decodeHtmlEntities(str) {
        return str.replace(/&amp;/g, '&')
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&quot;/g, '"')
                .replace(/&apos;/g, "'")
                .replace(/&#x27;/g, "'")
                .replace(/&#39;/g, "'")
                .replace(/&nbsp;/g, ' ')
                .replace(/&#([0-9]{1,4});/g, function(match, numStr) {
                    return String.fromCharCode(parseInt(numStr, 10));
                })
                .replace(/&#[xX]([A-Fa-f0-9]{1,4});/g, function(match, hexStr) {
                    return String.fromCharCode(parseInt(hexStr, 16));
                });
    }

    function cleateLi123(title, linkA, categoryA, contentA, tags){
        const li = document.createElement('div')
        li.classList.add('faq-page-list__table-item')

        const link = document.createElement('a')
        link.classList.add('h5', 'faq-page-list__table-link')
        link.href = decodeHtmlEntities(linkA)
        link.innerText = decodeHtmlEntities(title)
        li.append(link)

        const catLink = document.createElement('div')
        catLink.classList.add('faq-page-list__table-category')
        // catLink.href = '#'
        catLink.innerText = decodeHtmlEntities(categoryA)
        li.append(catLink)

        const contentBox = document.createElement('div')
        contentBox.classList.add('faq-page-list__table-content')
        contentBox.innerText = decodeHtmlEntities(contentA)
        li.append(contentBox)

        const tagsBox = document.createElement('div')
        const tagsLength = tags.length
        tagsBox.classList.add('faq-page-list__table-tags')
        for (i = 0; i < tagsLength; i++) {
            const tag = document.createElement('div')
            tag.classList.add('page-tag')
            tag.innerText = decodeHtmlEntities(tags[i])
            tagsBox.append(tag)
        }
        // tagsBox.innerText = tags
        li.append(tagsBox)

        return li
    }

    inpSear.addEventListener('keyup', ()=> {
        inSearchOutRow.innerHTML = ''
        let out = document.createElement('div')
        out.classList.add('faq-page-list__table')
        inSearchOutRow.append(out)
        out.innerHTML = '<div class="faq-page-list__loader">Loading...</div>'

        if ( supportButtons ) {
            supportButtons.classList.add('hidden')
        }
        if ( inSearchHolder.classList.contains('hidden') ) {
            inSearchHolder.classList.remove('hidden')
        }
        inpSear.value ? setTimeout(()=>{
            out.innerHTML = ''
                faqs.map(item => {
                    let DecodlowTitle = decodeHtmlEntities(item.title)
                    let lowTitle = DecodlowTitle.toLowerCase()
                    let DecodlowContent = decodeHtmlEntities(item.content)
                    let lowContent = DecodlowContent.toLowerCase()
                    let newInput = inpSear.value.toLowerCase()
                    if (lowTitle.includes(newInput) || lowContent.includes(newInput)) {
                        out.append(cleateLi123(item.title, item.url, item.category, item.content_short, item.tags)) 
                    }
                })
        }, 800) : location.reload()
    })
</script>
{% endcomponent search %}
